/* GLOBALS */
.w-35 {
    width: 35% !important;
}

.py-6 {
    padding-top: calc(70%/5);
    padding-bottom: calc(70%/5);
}

.fs-7 {
    font-size: 10px;
}

.lobster {
    font-family:'Lobster', regular !important;
}

/* GENERAL */
html {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.main-body {
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

.bg-blur {
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(1px);
    height: 100vh;
    width: 100%;
}

/* NAVBAR */
.hamb {
    width: 70px !important;
    background: rgba(48,80,120,.5)
}

.navbar-blur {
    background: rgba(31,42,55,.8);
    backdrop-filter: blur(10px);
    height: auto;
}

.navbar-brand > i {
    transform: rotate(45deg);
}

.nav-link-bg {
    background: rgb(48,66,87);
    background: linear-gradient(0deg, rgba(48,66,87,0.9) 0%, rgba(67,92,120,0.9) 50%);
}

/* CONTENT */
#profile > img {
    filter: drop-shadow(0 0 7px #757575);
}

#main-frame {
    width: 90vw;
    height: 80vh;
}

footer {
    height: 20px;
    background: rgb(31,42,55)
}