/* GLOBALS */
.w-35 {
    width: 35% !important;
}

.py-6 {
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.fs-7 {
    font-size: 10px;
}

.lobster {
    font-family:'Lobster', regular !important;
}

/* GENERAL */
.main-body {
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

/* NAVBAR */
.bg-blur {
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(1px);
    height: 100vh;
    width: 100%;
}

.hamb {
    width: 70px !important;
    background: rgba(27,27,27,.5)
}

.navbar-blur {
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(4px);
    height: auto;
}

.nav-link-bg {
    background: rgba(27,27,27,.7)
}

/* CONTENT */
#profile > img {
    filter: drop-shadow(0 0 7px #757575);
}

#main-frame {
    width: 90vw;
    height: 89vh;
}

footer {
    height: 20px;
}